* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

ul {
  list-style: none;
}

body {
  background: #ece9fd;
  padding: 60px 23px 66px;
  font-size: 1.6rem;
}

h1 {
  font-family: 'Epilogue', sans-serif;
  font-size: 4.0rem;
}